<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script
  src="https://code.jquery.com/jquery-3.4.1.slim.js"
  integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
  crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <!-- navbar goes here -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="">
          <img
            src="https://pbs.twimg.com/profile_images/973973132364206081/j0bEeit5.jpg"
            alt=""
            width="70"
            height="30"
          />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </nav>

    <div class="columns" style="width: 90%; margin: 30px auto">
        <!-- section for workout chart -->
      <div class="column">
          <div class="tile is-ancestor" style="height: 85vh;">
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box" style="width: 50vw;">
                    <p class="title">Today's Workout</p>
                    <hr style="width: 40%;">
                    <div id="main-card"></div>
              </div>
            </div>
          </div>
      </div>

      <!-- section for exercises -->
      <div class="column">
          <!-- the tab for completed workouts -->
      <div class="tabs is-toggle is-toggle-rounded" style="float: right;">
        <ul>
          <li class="is-active">
            <a>
              <span class="icon is-small"><i class="fas fa-weight"></i></span>
              <span>Active</span>
            </a>
          </li>
          <li>
            <a>
              <span class="icon is-small"><i class="fas fa-check"></i></span>
              <span>Completed</span>
            </a>
          </li>  
        </ul>
      </div>
        <h1 class="title">Exercises</h1>
        <hr width="100%">
        <!-- dropdown for Exercise focus -->
        
          
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4" style="width: 40vw;">
                <span id="select-focus">Select a Focus</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu" style="width: 40vw;">
              <div class="dropdown-content">
                <div class="dropdown-item" id="chest">
                  <p class="title" style="text-align: center;">Chest</p>
                </div>
                <hr class="dropdown-divider">
                <div class="dropdown-item">
                    <p class="title" style="text-align: center;">Arms</p>
                  </div>
                  <hr class="dropdown-divider">
                  <div class="dropdown-item">
                    <p class="title" style="text-align: center;">Legs</p>
                  </div>
                  <hr class="dropdown-divider">
                  <div class="dropdown-item">
                    <p class="title" style="text-align: center;">Core</p>
                  </div>
                <hr class="dropdown-divider">
                <div class="dropdown-item">
                    <p class="title" style="text-align: center;">Back</p>
                  </div>
              </div>
            </div>
          </div>
          <!-- Pushups container -->
        <div id="pushups">
          <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
              <div class="tile is-child box" style="width: 60vh;">
                <!-- img for the exercise -->
                <img src="https://images.askmen.com/1080x540/sports/bodybuilding/askmen-push-up-challenge-1106349-TwoByOne.jpg" alt="this is a test" style="display: flex; float: right; width: 200px; height: 100px; border-radius: 3px;">
                <p class="title">PushUps</p>
                <p>30 reps | rest 30 seconds</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Pullups container -->
        <div id="pullups">
            <div class="tile is-ancestor">
              <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box" style="width: 60vh;">
                  <!-- img for the exercise -->
                  <img src="https://dailyburn.com/life/wp-content/uploads/2014/07/Pull-Up_2.jpg" alt="this is a test" style="display: flex; float: right; width: 200px; border-radius: 3px; height: 100px;">
                  <p class="title">PullUps</p>
                  <p>10 reps | rest 30 seconds</p>
                </div>
              </div>
            </div>
          </div>
      </div>

    </div>
    

    <script src="../public/js/index.js"></script>
  </body>
</html>
